body {
                font-family: 'Poppins', sans-serif;
            }
            
            h1, h2 {
                margin-top: 20px;
            }
            
            table {
                margin-top: 20px;
            }
            
            footer {
                margin-top: 40px;
            }
            